# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Eclipse
.settings
.project
.buildpath

# phpstorm
.idea

/vendor
/node_modules
/public/build
/public/uploads
/storage
_ide_helper.php
Homestead.yaml
Homestead.json
.env
.idea/*
wiki
wiki/*
data
data/*
logs
logs/*
